{% load static %}

<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://www.linkedin.com/in/igornardoni/" target="_blank" >
            <img src="{% static 'assets/icons/1x/linkedin.png' %}" alt="ícone linkedin">
        </a>
        <a href="https://github.com/igornardoni" target="_blank" >
            <img src="{% static 'assets/icons/1x/github.png' %}" alt="ícone github">
        </a>
    </div>
    <p class="rodape__texto">Desenvolvido por Igor Augusto Nardoni</p>
</footer> 